
:root {
  --orange: #feaa1a;
  --base: #f3e0c2;
  --darkGreen: #7d8b11;
  --lightGreen: #c1d92e;
}

.bigHero{
    background-image: url("https://images.unsplash.com/photo-1583653219111-c4bfb6eb6162?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dHVrJTIwdHVrfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    height: 60vh;
  width: 70%;
  background-repeat: none;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: flex-start;/*flex start means stat from the left side*/
  margin: auto;

}
.whiteBox{
  width: 270px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-left: 50px;


}
.mainBox-sec1{
  width: 70%;
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  margin: auto;
  grid-gap:20px;
  text-align: center;

  

}
.smallBox-icon{
  padding: 10px 20px;
  text-decoration: none;

}

/*remove a tag underline*/
.smallBox-icon a{
  text-decoration: none;
  color: #2C3E50;
}


.smallBox-icon a :hover{
color: var(--orange);
}


.roundBlackBG{
  width: 75px;
  height: 75px;
  background-color:#2C3E50;
  border-radius:100% ;
 display: flex;
 align-items: center;
 justify-content: center;
 margin:20px auto;
 

}

/*start section contact us*/

/* target only text contact Us above*/
.top-contact{
  background-color:#2C3E50;
  color: white;
 padding: 20px 20px;


}



.roundBlackBG .fa-location-dot{
  color: white;
  font-size: 30px;
}


/*big box contro; from tag and pic left side*/
.controlFormPic-bigBox{
  display: flex;
 padding: 30px  0px;
  }
  

/*below is class control big box everything*/
.bigBox-form{
  width: 70%;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 50px;

}
/*pic left side of contact form*/
.image-left{
width: 40%;
height: 350px;

margin: 20px;

}
.image-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*target form below*/
.bigBox-form form{

  width: 60%;
  margin-left: 40px;



}

.bigBox-form input{
  display: block;
  margin-bottom: 20px;
  width: 400px;


}
/* text area use for make message box*/
.bigBox-form textarea{
  display: block;
  margin-bottom: 20px;
  height: 150px;
  width: 400px;

}
/*end contact form*/


/*control 2 lines*/
.controlHR{
  width: 70%;
margin: auto;
margin-bottom: 30px;
background-color:#2C3E50;
opacity: 1;


}

.phone{
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
  
}

.phone a {
  text-decoration: none;
  color:#2C3E50;
}

.phone a:hover {
  color: var(--orange);
}

.fa-phone{
  color:#2C3E50;
  font-size: 20px;
}
