:root {
    --orange: #feaa1a;
    --base: #f3e0c2;
    --darkGreen: #7d8b11;
    --lightGreen: #c1d92e;
    --lightgrey:#eef0f2;
  }



/*bighero*/


/*control main box*/
.bigHero-inspire{
    position: relative;
    width: 80%;
    margin: auto;

}

#animation{
    height: 60vh;
    width: 100%;
    object-fit: cover;/*use object fix cover when put image on html*/
transition: 1s all;/*8make animation more smooth*/



    /* background-image: url("https://images.pexels.com/photos/12866496/pexels-photo-12866496.jpeg?auto=compress&cs=tinysrgb&w=800"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* animation  by css change picture in bighero every 5 second

    animation: pic1 5s infinite;
    transition: all;

}

@keyframes pic1 {
    0%{
        background-image: url("https://images.pexels.com/photos/12866496/pexels-photo-12866496.jpeg?auto=compress&cs=tinysrgb&w=800");
    }
    50%{
        background-image: url("https://images.pexels.com/photos/175754/pexels-photo-175754.jpeg?auto=compress&cs=tinysrgb&w=800");
    }
    
    100%{
        background-image: url("https://images.pexels.com/photos/162993/food-thai-spicy-asian-162993.jpeg?auto=compress&cs=tinysrgb&w=800");
    }
   */ 
}


/*move text to center big hero*/
.big-HerosmallBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}


/* after big hero-section1*/

.bgColorOverall{
    background-color:var(--lightgrey);
}


.mainBox-getinspired{
width: 80%;
margin: auto;
background-color: var(--lightgrey);
}

.mainBox-getinspired p{
    font-weight: 400;
    font-size: 20px;
    color: darkgray;
    text-align: center;
  padding: 0px 0px;

}

.mainBox-section1{
 width: 100%;
 height: 400px;
 display: flex;
 align-items: center;

}

.pic-section1{
background-image: url("https://images.pexels.com/photos/15323385/pexels-photo-15323385.png?auto=compress&cs=tinysrgb&w=800");
;
background-size: cover;
width: 50%;
height: 400px;

}


.text-section1{
width: 50%;
height: 400px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding:0px 25px;
background-color: white;

}



.text-section1 a{

    color: black;
    text-decoration: none;
   
}

.text-section1 a:hover{
    color: var(--orange);
}

/* section2*/
.mainBox-section2{
    background-image: url("https://images.pexels.com/photos/33242/cooking-ingredient-cuisine-kitchen.jpg?auto=compress&cs=tinysrgb&w=600");
    width: 100%;
 height: 500px;
 margin-top: 40px;
 background-repeat: no-repeat;
 background-size: cover;
  position: relative;

}
/*control all text box in section2*/
.boxforText{

    width: 300px;
    height: auto;
    color: white;
    text-align: center;
 position: absolute;
top: 10%;
left: 5%; 



}
.boxforText p{
    color: white;  
    font-size: 18px;
}
.boxforText h4{
    color: white;  
    font-size: 20px;
}
.boxforText a{
    color: white;
    text-decoration: none;
}
.boxforText a:hover{
    color: var(--orange);
}
/*practiceZindex
.mainZ{
width: 100%;
height: 400px;
background-color: grey;
position: relative;
}
.childRed{
    width: 200px;
    height: 200px;
    background-color: red;
    z-index: 0;
    position: absolute;
    top:30px;
    left: 30px;

}

.childGreen{
    width: 150px;
    height: 150px;
    background-color: #c1d92e;
    z-index: 3;
    position: absolute;
    top:30px;
    left: 30px;
}
*/

/*section3-lastsection*/
/*below we target image box and we put onlu hight coz width already define by boostrap*/
.controlSmallBox img{
   height: 300px;
   object-fit: cover;/*we use object fit when put pic in html*/
   border-radius: 0;

}
/*.control small box --is a main box extra cutome class*/
.controlSmallBox {
    border-radius: 0;
    text-align: center;

}
/*below .control the whole height . card coz box is not equal hight 
so we have to define height to make all box equal height*/
.controlSmallBox .card{
    height: 720px;
    border: none;
    background-color: var(--lightgrey);
  
  
}

.controlSmallBox .card-body{
  padding:20px;  
}

/*control second title*/

.first{
    font-size: 15px;
    margin-bottom: 20px;

}
.second{
    font-size: 25px;
    margin-bottom: 10px;
}

/*fontawesom location*/
.fa-location-dot{
font-size: 30px;
margin: 10px 0px;
}






/*section4*/

.mainBox-section4 p{
    font-weight: 400;
    font-size: 20px;
    color: darkgray;
    text-align: center;
  padding: 0px 0px;

}


.mainBox-section4{
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}


.targetRow .col img{
width: 100%;
height: 100%;
object-fit: cover;

}

.targetRow .col{
    height:300px ;
}

.targetText small{
    text-align: center;

}

.targetText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}