.mainReturn{
width: 50%;
margin: 40px auto;
font-size: 15px;

}



.mainBoxRadio input,label{
margin: 10px 5px;
}

.submitBox-return{
width: 70%;
padding: 5px 0px;
font-weight: bold;
color: white;
background-color: black;
border: none;
}

/* print label section*/
.forFormTag{
  display: flex;  
  align-items: start;
  flex-direction: column;

}

.forFormTag input{
    margin: 20px 0px;
    width: 70%;
    padding: 10px;
}

/* drop down is not input but it is select */

.forFormTag select{
    width: 70%;
    padding: 10px;
}

.shippingLabel{
    margin-top: 50px;
}