.mainBox-ship{
width: 70%;
margin: 40px auto;

}

.mainBox-ship h4{
margin-bottom: 40px;

}

.controlText-ship h6{
width: 50%;
border-bottom: 1.5px solid grey;
margin-left: 20px;
padding-bottom: 10px;


}
.controlText-ship{
    display: flex;
   
}

/*3 boxes*/

.main3Box{
display: flex;
justify-content: space-between;


}
.Box3 .fa-solid{
    font-size: 60px;
    margin: 10px 0px;
} 
/*each small box*/
.Box3{
width:24% ;
margin-left: 50px;
text-align: center;
margin-top: 20px;
}

.Box3 h5{
font-size: 15px;
margin: 10px 0px;
}

.Box3 p{
text-align: left;
}

/*ipad air*/
@media screen and (max-width: 999px) {
.main3Box{
    flex-wrap: wrap;
    /* flex-wrap:wrap: help to responsive crate a new row */

    }
    .Box3{
        width:40% ;
      
        }
}

/*ipad mini*/
@media screen and (max-width: 768px) {

}

/*iphone*/
@media screen and (max-width: 600px) {
    .main3Box{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* flex-wrap:wrap: help to responsive crate a new row */
    
        }
        .Box3{
            width:100% ;
         margin-left: 0;
         /* margin-top: 0px; */
          
            }

            .mainBox-ship h4{
        text-align: center;
        margin-bottom: 10px;
      
                
                }
                .controlText-ship h6{
                    display: none;
                }

}