.mainBox-ship{
width: 70%;
margin: 40px auto;

}

.mainBox-ship h4{
margin-bottom: 40px;

}

.controlText-ship h6{
width: 50%;
border-bottom: 1.5px solid grey;
margin-left: 20px;
padding-bottom: 10px;


}
.controlText-ship{
    display: flex;
   
}

/*3 boxes*/

.main3Box{
display: flex;
justify-content: space-between;


}
.Box3 .fa-solid{
    font-size: 60px;
    margin: 10px 0px;
} 
/*each small box*/
.Box3{
width:24% ;
margin-left: 50px;
text-align: center;
margin-top: 20px;


}

.Box3 h5{
font-size: 15px;
margin: 10px 0px;
}

.Box3 p{
text-align: left;
}