


/*line in middle*/
.line{
    background-color: #36454F;
    width: 2px;
    height: 300px;
   
}
.title{

 margin-bottom: 20px;
 color: #36454F;
 font-family: serif;
}
/*control the whole box*/
.mainBox-track{
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
 
 
}

.bigBox-for2smallbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallBox-signIn{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Roboto,sans-serif;

   
}

.smallBox-signIn input{
    padding: 5px 25px;
    margin: 10px 0px;
    width: 250px;
    border-radius: 3px;
 border: solid 2px lightgray;

}


#clickBox{
  margin: 0;
  width: 30px;
 
}

.submitBox{
  width: 250px;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    margin:15px 0px ;
    font-size: 15px;
    border:1px solid  black!important;
}

.forgetPW a{
    color: black;
}


/*search box left side*/

.searchBox{
width: 100%;


}
.wholeSearchBox h4{
    margin-top: -210px;
    margin-bottom: 50px;
}

.moveSearchBox{
    padding-left: 100px!important;
}




